.accordion__item {
  padding-left: 33px;
  position: relative;
  margin-bottom: 35px;
}

.accordion__arrow-wrapper {
  position: absolute;
  left: 0;
  top: 4px;
  transition: all .3s linear;
}

.accordion__arrow {
  fill: @color-blue;
  fill-opacity: 1;
  cursor: pointer;
}

.accordion__arrow--down {
  transform: rotate(90deg);
}

.accordion__item-tile {
  font-size: 16px;
  line-height: 23px;
  color: @color-black;
  margin-top: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.accordion__item-message {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 20px;
  opacity: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  visibility: hidden;
  max-height: 0;
  transition: all .3s linear;
}

.accordion__item.active {
  margin-bottom: 46px;

  & .accordion__item-message {
    margin-top: 10px;
    visibility: visible;
    max-height: 100%;
    opacity: 0.6;
    padding-bottom: 0;
  }

  & .accordion__arrow-wrapper {
    transform: rotate(90deg);
  }
}


@media (min-width: 768px) and (max-width: 1279px) {
  .accordion__item-title {
    font-weight: bold;
    line-height: 29px;
    font-size: 20px;
    max-width: 513px;
    cursor: pointer;
    margin-bottom: 0;
  }

  .accordion__item-message {
    font-size: 15px;
    margin-top: 5px;
    line-height: 25px;
  }

}

@media (min-width: 1280px) {
  .accordion__item-title {
    font-weight: bold;
    line-height: 29px;
    font-size: 20px;
    max-width: 513px;
    cursor: pointer;
    margin-bottom: 0;
  }

  .accordion__item-message {
    font-size: 15px;
    margin-top: 5px;
    line-height: 25px;
  }

  .accordion__item.active {
    & .accordion__item-message {
      margin-top: 7px;
    }
  }

  .accordion__item {
    &:last-child {
      margin-bottom: 53px;
    }
  }

  .answers__btn {
    width: 347px;
  }
}
