.assistant__wrapper {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 22px;
  padding-right: 22px;
  position: relative;
  padding-bottom: 91px;
  background-image: url("../img/assistent-elipse.svg");
  background-repeat: no-repeat;
}

.assistant__img-block {
  position: relative;
}

.assistant__title {
  line-height: 35px;
  margin-bottom: 19px;
}

.assistant__description {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.6;
  margin-bottom: 5px;
}

.assistant__watch-video-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 276px;
  transform: translateX(-50%);
  margin-top: 0;
}

.assistant__img {
  position: relative;
  left: -10px;
  top: 11px;
}

.assistant__video-btn {
  top: 62%;
}


