.certificate__wrapper {
  max-width: 320px;
  margin: auto;
  padding-left: 21px;
  padding-right: 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}

.certificate__title {
  width: 70%;
}

.certificate__arrows {
  margin-top: 64px;
}

.certificate__gallery {
  margin-top: 97px;
  padding-top: 0;
  width: 100%;
}

.certificate__item {
  padding-bottom: 21px;
  margin-top: 34px;
  box-shadow: 0 20px 100px rgba(16, 94, 157, 0.15);
  text-align: center;
  width: 217px;
  margin: auto;
  display: none;
  margin-bottom: 10px;

  &:first-child {
    display: block;
  }
}

.certificate__item-img {
  margin-top: -41px;
  width: 190px;
  height: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.certificate__item-description {
  font-size: 12px;
  line-height: 20px;
  opacity: .6;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: -9px;
}


@media (min-width: 768px) and (max-width: 1439px) {
  .certificate__wrapper {
    max-width: 768px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    padding-bottom: 0;
  }

  .certificate__title {
    margin-top: 4px;
  }

  .certificate__gallery {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .certificate__item {
    display: block;
    margin: 0;
    width: 100%;
  }
  .certificate__item-wrapper{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
    padding-bottom: 110px;
    &.slick-active{
      opacity: 1;
      visibility: visible;
    }
  }

  .certificate__item-description {
    margin-bottom: 5px;
    line-height: 26px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .certificate__arrows {
    margin-top: 10px;
  }
}


@media (min-width: 1440px) {
  .certificate__wrapper {
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
    padding-bottom: 0;
  }

  .certificate__title {
    margin-top: 4px;
    margin-bottom: 8px;
  }

  .certificate__gallery {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }

  .certificate__item {
    display: block;
    margin: 0;
    margin-top: 33px;
    margin-left: 15px;
    margin-top: 15px;
    &:first-child{
      margin-left: 0;
    }
  }
  .certificate__item-wrapper{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 110px;
    padding-bottom: 110px;
    transition: .3s;
    opacity: 0;
    &.slick-active{
      opacity: 1;
      visibility: visible;
    }
  }



  .certificate__item-description {
    margin-bottom: 5px;
    line-height: 26px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }


  .certificate__arrows {
    margin-top: 10px;
  }

  .certificate__arrow__left,
  .certificate__arrow__right {
    &:hover {
      margin-bottom: -10px;
    }
  }
}
