.certificate__wrapper {
  max-width: 320px;
  margin: auto;
  padding-left: 21px;
  padding-right: 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}

.certificate__title {
  width: 70%;
}

.certificate__arrows {
  margin-top: 64px;
}

.certificate__gallery {
  margin-top: 97px;
  padding-top: 0;
  width: 100%;
}

.certificate__item {
  padding-bottom: 21px;
  margin-top: 34px;
  box-shadow: 0 20px 100px rgba(16, 94, 157, 0.15);
  text-align: center;
  width: 217px;
  margin: auto;
  display: none;
  margin-bottom: 10px;

  &:first-child {
    display: block;
  }
}

.certificate__item-img {
  margin-top: -41px;
  width: 190px;
  height: 230px;
}

.certificate__item-description {
  font-size: 12px;
  line-height: 20px;
  opacity: .6;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: -9px;
}

@media (min-width: 1440px) {
  .certificate__wrapper {
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
  }

  .certificate__item {
    display: block;
  }

  .certificate__item-description {
    margin-bottom: 21px;
    line-height: 26px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .certificate__gallery {
    margin-top: 77px;
  }

  .certificate__arrows {
    margin-top: 10px;
  }
}
