.comment__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 90px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 88px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.comment__list {
  margin-top: 16px;
  //max-width: 100%;
}

.comment__item {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(16, 94, 157, 0.15);
  padding-top: 29px;
  padding-left: 30px;
  padding-right: 25px;
  padding-bottom: 42px;
  border-radius: 20px;
  background: linear-gradient(180deg, #F8F8F8 0%, #F2F2F2 100%);
  max-width: 278px;

  &:not(:first-child) {
    display: none;
  }
}

.comment__item-user-avatar {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  margin-right: 25px;
}

.comment__item-title {
  width: 132px;
  font-weight: bold;
  font-size: 16px;
  font-family: "Montserrat", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  padding-top: 15px;
}

.comment__item-text {
  margin-top: 15px;
  margin-bottom: 10px;
  line-height: 19px;
  opacity: .6;
  font-size: 12px;
  overflow: hidden;
}

.comment__item-all-text {
  font-size: 12px;
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 19px;
  border-bottom: 1px dashed #4AB6E8;
  padding-bottom: 4px;
}

.comment__item-all-text-ico {
  display: none;
}

.comment__arrows{
  z-index: 10;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .comment__wrapper {
    max-width: 760px;
    margin-left: auto;
    z-index: 10;
    position: relative;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 81px;
  }

  .comment__item {
    width: 600px;
    margin-right: 40px;
    padding-left: 223px;
    padding-top: 62px;
    padding-bottom: 46px;
    padding-right: 40px;
    position: relative;

    &:not(:first-child) {
      display: flex;
    }

    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 105px;
      height: 53px;
      right: 23px;
      top: 0;
      background-image: url("../img/quote.svg");
      background-repeat: no-repeat;
    }
  }

  .comment__title {
    width: 80%;
    margin-top: 13px;
    margin-bottom: 50px;
  }

  .comment__list {

    display: flex;
    position: relative;
    width: 1200px;
    min-width: 1199px;
  }

  .comment__item {
   min-width: 600px;
  }

  .comment__item-user-avatar {
    position: absolute;
    left: 35px;
    width: 160px;
    height: 160px;
  }

  .comment__item-title {
    width: 100%;
    padding-top: 0;
    font-size: 20px;
  }

  .comment__item-text {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 15px;
    color: #000000;
    opacity: 0.6;
    margin-bottom: 7px;
  }

  .comment__item-all-text {
    line-height: 24px;
    font-size: 15px;
    border-bottom: 1px dashed @color-blue;
    margin-left: 4px;
  }

  .comment__item-all-text-ico {
    display: inline-block;
    margin-left: 10px;
    transform: rotate(90deg);
  }
}

@media (min-width: 1280px) {
  .comment{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }
  .comment__wrapper {
    max-width: 960px;
    margin-left: 241px;
    z-index: 10;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-top: 81px;
  }

  .comment__item {
    width: 600px;
    margin-right: 40px;
    padding-left: 223px;
    padding-top: 62px;
    padding-bottom: 46px;
    padding-right: 40px;
    position: relative;

    &:not(:first-child) {
      display: flex;
    }

    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 105px;
      height: 53px;
      right: 23px;
      top: 0;
      background-image: url("../img/quote.svg");
      background-repeat: no-repeat;
    }
  }

  .comment__title {
    width: 80%;
    margin-top: 13px;
    margin-bottom: 50px;
  }

  .comment__list {
    margin-top: 0;
    display: flex;
    position: relative;
    width: 1300px;
    min-width: 1300px;
  }

  .comment__item {
   min-width: 600px;
  }

  .comment__item-user-avatar {
    position: absolute;
    left: 35px;
    width: 160px;
    height: 160px;
  }

  .comment__item-title {
    width: 100%;
    padding-top: 0;
    font-size: 20px;
  }

  .comment__item-text {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 15px;
    color: #000000;
    opacity: 0.6;
    margin-bottom: 7px;
  }

  .comment__item-all-text {
    line-height: 24px;
    font-size: 15px;
    border-bottom: 1px dashed @color-blue;
    margin-left: 4px;
  }

  .comment__item-all-text-ico {
    display: inline-block;
    margin-left: 10px;
    transform: rotate(90deg);
  }
}
