.consultation {
  position: relative;
  z-index: 1;
}

.consultation__bg {
  background: linear-gradient(to bottom left, #0B5797 4.18%, #50BDEC 108.54%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;

  &:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    content: "";
    display: block;
    opacity: .4;
    background-image: url("../img/consultation-bg@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -190px;
    width: 100%;
    height: 100%;
  }
}


.consultation__wrapper {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 43px;
  padding-bottom: 18px;
  position: relative;
  z-index: 5;
}

.consultation__item {
  border-bottom: 1px solid @color-white;
  margin-bottom: 29px;

  &:last-child {
    border-bottom: none;
  }
}

.consultation__item-title {
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  color: @color-white;
  font-size: 23px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 14px;
}

.consultation__item-description {
  color: @color-white;
  text-align: center;
  font-size: 12px;
  line-height: 19px;
  margin-bottom: 24px;
}

.consultation__item-cost {
  color: @color-white;
  font-size: 23px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 31px;
}

.consultation__btn {
  color: @color-black;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 15px;
  padding-bottom: 11px;
  margin-bottom: 46px;
}

@media (min-width: 768px) and  (max-width: 1139px) {
  .consultation__wrapper {
    max-width: 768px;
  }

  .consultation__list {
    display: flex;
  }

  .consultation__item {
    padding-right: 84px;
    border-bottom: none;
    width: 50%;
    margin-bottom: 26px;

    &:nth-child(2n) {
      padding-right: 0;
      padding-left: 84px;
      border-right: none;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        top: 36px;
        bottom: 73px;
        width: 1px;
        background-color: @color-white;
      }
    }
  }

  .consultation__item-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .consultation__item-description {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 17px;
  }

  .consultation__item-cost {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 28px;
  }

  .consultation__btn {
    padding-top: 19px;
    padding-bottom: 18px;
    font-size: 16px;
    width: 273px;
    padding-left: 0;
    padding-right: 0;
  }

  .consultation__bg::after {
    background-position-x: 0;
    background-position-y: 0;
  }
}


@media (min-width: 1440px) {
  .consultation__wrapper {
    max-width: 821px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 63px;

  }

  .consultation__list {
    display: flex;
  }

  .consultation__item {
    padding-right: 84px;
    border-bottom: none;
    width: 50%;
    margin-bottom: 26px;

    &:nth-child(2n) {
      padding-right: 0;
      padding-left: 84px;
      border-right: none;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        display: block;
        left: 0;
        top: 36px;
        bottom: 73px;
        width: 1px;
        background-color: @color-white;
      }
    }
  }

  .consultation__item-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }

  .consultation__item-description {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 17px;
  }

  .consultation__item-cost {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 28px;
  }

  .consultation__btn {
    padding-top: 19px;
    padding-bottom: 18px;
    font-size: 16px;
  }

  .consultation__bg::after {
    background-position-x: -0;
    background-position-y: -517px;
  }
}
